<template>
  <button
    class="flex flex-col items-center"
    :disabled="loading"
    v-bind="$attrs"
    @click="$emit('click')"
  >
    <span v-show="loading">
      <UI-Spinner />
    </span>
    <span v-show="!loading">
      <slot />
    </span>
  </button>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Button extends Vue {
  @Prop({ type: Boolean, default: false }) loading
}
</script>
