<template functional>
  <i :class="data.staticClass">
    <Component
      :is="$options.methods.importIcon(props)"
      class="stroke-current"
      :height="props.size + 'px'"
      :width="props.size + 'px'"
    />
  </i>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Icon extends Vue {
  @Prop({ type: String, required: true }) name
  @Prop({ type: String, default: 'outline' }) type
  @Prop({ type: Number, default: 24 }) size

  importIcon(props) {
    return require('@/assets/icons/' +
      props.type +
      '/' +
      props.name +
      '.svg?inline')
  }
}
</script>

<style lang="scss" scoped>
svg {
  display: inline-block;
}
</style>
