<template functional>
  <h3
    :class="[data.staticClass, `text-${props.size}xl`]"
    class="text-em-green-500 inline-block"
  >
    <slot />
  </h3>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Subtitle extends Vue {
  @Prop({ type: [Number, String], default: 1 }) size
}
</script>
