<template functional>
  <h1
    :class="[`text-${props.size}xl`, data.staticClass, data.class]"
    class="font-open font-bold text-em-green-500 inline-block"
  >
    <slot />
  </h1>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Title extends Vue {
  @Prop({ type: [Number, String], default: 4 }) size
}
</script>
