/* Converted Tailwind Config to scss */
$fontFamily-sans: (Lato,sans-serif);
$fontFamily-open: (Open Sans,sans-serif);
$fontFamily-lato: (Lato,sans-serif);

$backgroundColor-transparent: transparent;
$backgroundColor-current: currentColor;
$backgroundColor-black: #000;
$backgroundColor-white: #fff;
$backgroundColor-gray-100: #f7fafc;
$backgroundColor-gray-200: #edf2f7;
$backgroundColor-gray-300: #e2e8f0;
$backgroundColor-gray-400: #cbd5e0;
$backgroundColor-gray-500: #a0aec0;
$backgroundColor-gray-600: #718096;
$backgroundColor-gray-700: #4a5568;
$backgroundColor-gray-800: #2d3748;
$backgroundColor-gray-900: #1a202c;
$backgroundColor-red-100: #fff5f5;
$backgroundColor-red-200: #fed7d7;
$backgroundColor-red-300: #feb2b2;
$backgroundColor-red-400: #fc8181;
$backgroundColor-red-500: #f56565;
$backgroundColor-red-600: #e53e3e;
$backgroundColor-red-700: #c53030;
$backgroundColor-red-800: #9b2c2c;
$backgroundColor-red-900: #742a2a;
$backgroundColor-orange-100: #fffaf0;
$backgroundColor-orange-200: #feebc8;
$backgroundColor-orange-300: #fbd38d;
$backgroundColor-orange-400: #f6ad55;
$backgroundColor-orange-500: #ed8936;
$backgroundColor-orange-600: #dd6b20;
$backgroundColor-orange-700: #c05621;
$backgroundColor-orange-800: #9c4221;
$backgroundColor-orange-900: #7b341e;
$backgroundColor-yellow-100: #fffff0;
$backgroundColor-yellow-200: #fefcbf;
$backgroundColor-yellow-300: #faf089;
$backgroundColor-yellow-400: #f6e05e;
$backgroundColor-yellow-500: #ecc94b;
$backgroundColor-yellow-600: #d69e2e;
$backgroundColor-yellow-700: #b7791f;
$backgroundColor-yellow-800: #975a16;
$backgroundColor-yellow-900: #744210;
$backgroundColor-green-100: #f0fff4;
$backgroundColor-green-200: #c6f6d5;
$backgroundColor-green-300: #9ae6b4;
$backgroundColor-green-400: #68d391;
$backgroundColor-green-500: #48bb78;
$backgroundColor-green-600: #38a169;
$backgroundColor-green-700: #2f855a;
$backgroundColor-green-800: #276749;
$backgroundColor-green-900: #22543d;
$backgroundColor-teal-100: #e6fffa;
$backgroundColor-teal-200: #b2f5ea;
$backgroundColor-teal-300: #81e6d9;
$backgroundColor-teal-400: #4fd1c5;
$backgroundColor-teal-500: #38b2ac;
$backgroundColor-teal-600: #319795;
$backgroundColor-teal-700: #2c7a7b;
$backgroundColor-teal-800: #285e61;
$backgroundColor-teal-900: #234e52;
$backgroundColor-blue-100: #ebf8ff;
$backgroundColor-blue-200: #bee3f8;
$backgroundColor-blue-300: #90cdf4;
$backgroundColor-blue-400: #63b3ed;
$backgroundColor-blue-500: #4299e1;
$backgroundColor-blue-600: #3182ce;
$backgroundColor-blue-700: #2b6cb0;
$backgroundColor-blue-800: #2c5282;
$backgroundColor-blue-900: #2a4365;
$backgroundColor-indigo-100: #ebf4ff;
$backgroundColor-indigo-200: #c3dafe;
$backgroundColor-indigo-300: #a3bffa;
$backgroundColor-indigo-400: #7f9cf5;
$backgroundColor-indigo-500: #667eea;
$backgroundColor-indigo-600: #5a67d8;
$backgroundColor-indigo-700: #4c51bf;
$backgroundColor-indigo-800: #434190;
$backgroundColor-indigo-900: #3c366b;
$backgroundColor-purple-100: #faf5ff;
$backgroundColor-purple-200: #e9d8fd;
$backgroundColor-purple-300: #d6bcfa;
$backgroundColor-purple-400: #b794f4;
$backgroundColor-purple-500: #9f7aea;
$backgroundColor-purple-600: #805ad5;
$backgroundColor-purple-700: #6b46c1;
$backgroundColor-purple-800: #553c9a;
$backgroundColor-purple-900: #44337a;
$backgroundColor-pink-100: #fff5f7;
$backgroundColor-pink-200: #fed7e2;
$backgroundColor-pink-300: #fbb6ce;
$backgroundColor-pink-400: #f687b3;
$backgroundColor-pink-500: #ed64a6;
$backgroundColor-pink-600: #d53f8c;
$backgroundColor-pink-700: #b83280;
$backgroundColor-pink-800: #97266d;
$backgroundColor-pink-900: #702459;
$backgroundColor-application: #1b1c22;
$backgroundColor-em-green-50: #f4fcf9;
$backgroundColor-em-green-100: #e9f9f3;
$backgroundColor-em-green-200: #c9f0e1;
$backgroundColor-em-green-300: #a8e7ce;
$backgroundColor-em-green-400: #67d6aa;
$backgroundColor-em-green-500: #26C485;
$backgroundColor-em-green-600: #22b078;
$backgroundColor-em-green-700: #1d9364;
$backgroundColor-em-green-800: #177650;
$backgroundColor-em-green-900: #136041;
$backgroundColor-em-red-50: #fdf4f5;
$backgroundColor-em-red-100: #fbeaeb;
$backgroundColor-em-red-200: #f6cacd;
$backgroundColor-em-red-300: #f0abaf;
$backgroundColor-em-red-400: #e56b74;
$backgroundColor-em-red-500: #DA2C38;
$backgroundColor-em-red-600: #c42832;
$backgroundColor-em-red-700: #a4212a;
$backgroundColor-em-red-800: #831a22;
$backgroundColor-em-red-900: #6b161b;
$backgroundColor-em-gray-50: #f4f4f4;
$backgroundColor-em-gray-100: #e8e8e9;
$backgroundColor-em-gray-200: #c6c6c8;
$backgroundColor-em-gray-300: #a4a4a7;
$backgroundColor-em-gray-400: #5f6064;
$backgroundColor-em-gray-500: #1b1c22;
$backgroundColor-em-gray-600: #18191f;
$backgroundColor-em-gray-700: #14151a;
$backgroundColor-em-gray-800: #101114;
$backgroundColor-em-gray-900: #0d0e11;
$backgroundColor-em-yellow-50: #fffdf8;
$backgroundColor-em-yellow-100: #fefbf0;
$backgroundColor-em-yellow-200: #fef6db;
$backgroundColor-em-yellow-300: #fdf1c5;
$backgroundColor-em-yellow-400: #fbe699;
$backgroundColor-em-yellow-500: #F9DB6D;
$backgroundColor-em-yellow-600: #e0c562;
$backgroundColor-em-yellow-700: #bba452;
$backgroundColor-em-yellow-800: #958341;
$backgroundColor-em-yellow-900: #7a6b35;
$backgroundColor-em-orange-50: #fcf9f3;
$backgroundColor-em-orange-100: #f9f2e7;
$backgroundColor-em-orange-200: #f0dfc3;
$backgroundColor-em-orange-300: #e6cb9f;
$backgroundColor-em-orange-400: #d4a458;
$backgroundColor-em-orange-500: #c17d10;
$backgroundColor-em-orange-600: #ae710e;
$backgroundColor-em-orange-700: #915e0c;
$backgroundColor-em-orange-800: #744b0a;
$backgroundColor-em-orange-900: #5f3d08;

$backgroundImage-none: none;
$backgroundImage-gradient-to-t: (linear-gradient(to top, var(--gradient-color-stops)));
$backgroundImage-gradient-to-tr: (linear-gradient(to top right, var(--gradient-color-stops)));
$backgroundImage-gradient-to-r: (linear-gradient(to right, var(--gradient-color-stops)));
$backgroundImage-gradient-to-br: (linear-gradient(to bottom right, var(--gradient-color-stops)));
$backgroundImage-gradient-to-b: (linear-gradient(to bottom, var(--gradient-color-stops)));
$backgroundImage-gradient-to-bl: (linear-gradient(to bottom left, var(--gradient-color-stops)));
$backgroundImage-gradient-to-l: (linear-gradient(to left, var(--gradient-color-stops)));
$backgroundImage-gradient-to-tl: (linear-gradient(to top left, var(--gradient-color-stops)));

$gradientColorStops-transparent: transparent;
$gradientColorStops-current: currentColor;
$gradientColorStops-black: #000;
$gradientColorStops-white: #fff;
$gradientColorStops-gray-100: #f7fafc;
$gradientColorStops-gray-200: #edf2f7;
$gradientColorStops-gray-300: #e2e8f0;
$gradientColorStops-gray-400: #cbd5e0;
$gradientColorStops-gray-500: #a0aec0;
$gradientColorStops-gray-600: #718096;
$gradientColorStops-gray-700: #4a5568;
$gradientColorStops-gray-800: #2d3748;
$gradientColorStops-gray-900: #1a202c;
$gradientColorStops-red-100: #fff5f5;
$gradientColorStops-red-200: #fed7d7;
$gradientColorStops-red-300: #feb2b2;
$gradientColorStops-red-400: #fc8181;
$gradientColorStops-red-500: #f56565;
$gradientColorStops-red-600: #e53e3e;
$gradientColorStops-red-700: #c53030;
$gradientColorStops-red-800: #9b2c2c;
$gradientColorStops-red-900: #742a2a;
$gradientColorStops-orange-100: #fffaf0;
$gradientColorStops-orange-200: #feebc8;
$gradientColorStops-orange-300: #fbd38d;
$gradientColorStops-orange-400: #f6ad55;
$gradientColorStops-orange-500: #ed8936;
$gradientColorStops-orange-600: #dd6b20;
$gradientColorStops-orange-700: #c05621;
$gradientColorStops-orange-800: #9c4221;
$gradientColorStops-orange-900: #7b341e;
$gradientColorStops-yellow-100: #fffff0;
$gradientColorStops-yellow-200: #fefcbf;
$gradientColorStops-yellow-300: #faf089;
$gradientColorStops-yellow-400: #f6e05e;
$gradientColorStops-yellow-500: #ecc94b;
$gradientColorStops-yellow-600: #d69e2e;
$gradientColorStops-yellow-700: #b7791f;
$gradientColorStops-yellow-800: #975a16;
$gradientColorStops-yellow-900: #744210;
$gradientColorStops-green-100: #f0fff4;
$gradientColorStops-green-200: #c6f6d5;
$gradientColorStops-green-300: #9ae6b4;
$gradientColorStops-green-400: #68d391;
$gradientColorStops-green-500: #48bb78;
$gradientColorStops-green-600: #38a169;
$gradientColorStops-green-700: #2f855a;
$gradientColorStops-green-800: #276749;
$gradientColorStops-green-900: #22543d;
$gradientColorStops-teal-100: #e6fffa;
$gradientColorStops-teal-200: #b2f5ea;
$gradientColorStops-teal-300: #81e6d9;
$gradientColorStops-teal-400: #4fd1c5;
$gradientColorStops-teal-500: #38b2ac;
$gradientColorStops-teal-600: #319795;
$gradientColorStops-teal-700: #2c7a7b;
$gradientColorStops-teal-800: #285e61;
$gradientColorStops-teal-900: #234e52;
$gradientColorStops-blue-100: #ebf8ff;
$gradientColorStops-blue-200: #bee3f8;
$gradientColorStops-blue-300: #90cdf4;
$gradientColorStops-blue-400: #63b3ed;
$gradientColorStops-blue-500: #4299e1;
$gradientColorStops-blue-600: #3182ce;
$gradientColorStops-blue-700: #2b6cb0;
$gradientColorStops-blue-800: #2c5282;
$gradientColorStops-blue-900: #2a4365;
$gradientColorStops-indigo-100: #ebf4ff;
$gradientColorStops-indigo-200: #c3dafe;
$gradientColorStops-indigo-300: #a3bffa;
$gradientColorStops-indigo-400: #7f9cf5;
$gradientColorStops-indigo-500: #667eea;
$gradientColorStops-indigo-600: #5a67d8;
$gradientColorStops-indigo-700: #4c51bf;
$gradientColorStops-indigo-800: #434190;
$gradientColorStops-indigo-900: #3c366b;
$gradientColorStops-purple-100: #faf5ff;
$gradientColorStops-purple-200: #e9d8fd;
$gradientColorStops-purple-300: #d6bcfa;
$gradientColorStops-purple-400: #b794f4;
$gradientColorStops-purple-500: #9f7aea;
$gradientColorStops-purple-600: #805ad5;
$gradientColorStops-purple-700: #6b46c1;
$gradientColorStops-purple-800: #553c9a;
$gradientColorStops-purple-900: #44337a;
$gradientColorStops-pink-100: #fff5f7;
$gradientColorStops-pink-200: #fed7e2;
$gradientColorStops-pink-300: #fbb6ce;
$gradientColorStops-pink-400: #f687b3;
$gradientColorStops-pink-500: #ed64a6;
$gradientColorStops-pink-600: #d53f8c;
$gradientColorStops-pink-700: #b83280;
$gradientColorStops-pink-800: #97266d;
$gradientColorStops-pink-900: #702459;
$gradientColorStops-application: #1b1c22;
$gradientColorStops-em-green-50: #f4fcf9;
$gradientColorStops-em-green-100: #e9f9f3;
$gradientColorStops-em-green-200: #c9f0e1;
$gradientColorStops-em-green-300: #a8e7ce;
$gradientColorStops-em-green-400: #67d6aa;
$gradientColorStops-em-green-500: #26C485;
$gradientColorStops-em-green-600: #22b078;
$gradientColorStops-em-green-700: #1d9364;
$gradientColorStops-em-green-800: #177650;
$gradientColorStops-em-green-900: #136041;
$gradientColorStops-em-red-50: #fdf4f5;
$gradientColorStops-em-red-100: #fbeaeb;
$gradientColorStops-em-red-200: #f6cacd;
$gradientColorStops-em-red-300: #f0abaf;
$gradientColorStops-em-red-400: #e56b74;
$gradientColorStops-em-red-500: #DA2C38;
$gradientColorStops-em-red-600: #c42832;
$gradientColorStops-em-red-700: #a4212a;
$gradientColorStops-em-red-800: #831a22;
$gradientColorStops-em-red-900: #6b161b;
$gradientColorStops-em-gray-50: #f4f4f4;
$gradientColorStops-em-gray-100: #e8e8e9;
$gradientColorStops-em-gray-200: #c6c6c8;
$gradientColorStops-em-gray-300: #a4a4a7;
$gradientColorStops-em-gray-400: #5f6064;
$gradientColorStops-em-gray-500: #1b1c22;
$gradientColorStops-em-gray-600: #18191f;
$gradientColorStops-em-gray-700: #14151a;
$gradientColorStops-em-gray-800: #101114;
$gradientColorStops-em-gray-900: #0d0e11;
$gradientColorStops-em-yellow-50: #fffdf8;
$gradientColorStops-em-yellow-100: #fefbf0;
$gradientColorStops-em-yellow-200: #fef6db;
$gradientColorStops-em-yellow-300: #fdf1c5;
$gradientColorStops-em-yellow-400: #fbe699;
$gradientColorStops-em-yellow-500: #F9DB6D;
$gradientColorStops-em-yellow-600: #e0c562;
$gradientColorStops-em-yellow-700: #bba452;
$gradientColorStops-em-yellow-800: #958341;
$gradientColorStops-em-yellow-900: #7a6b35;
$gradientColorStops-em-orange-50: #fcf9f3;
$gradientColorStops-em-orange-100: #f9f2e7;
$gradientColorStops-em-orange-200: #f0dfc3;
$gradientColorStops-em-orange-300: #e6cb9f;
$gradientColorStops-em-orange-400: #d4a458;
$gradientColorStops-em-orange-500: #c17d10;
$gradientColorStops-em-orange-600: #ae710e;
$gradientColorStops-em-orange-700: #915e0c;
$gradientColorStops-em-orange-800: #744b0a;
$gradientColorStops-em-orange-900: #5f3d08;

$backgroundOpacity-0: 0;
$backgroundOpacity-25: 0.25;
$backgroundOpacity-50: 0.5;
$backgroundOpacity-75: 0.75;
$backgroundOpacity-100: 1;

$backgroundPosition-bottom: bottom;
$backgroundPosition-center: center;
$backgroundPosition-left: left;
$backgroundPosition-left-bottom: left bottom;
$backgroundPosition-left-top: left top;
$backgroundPosition-right: right;
$backgroundPosition-right-bottom: right bottom;
$backgroundPosition-right-top: right top;
$backgroundPosition-top: top;

$backgroundSize-auto: auto;
$backgroundSize-cover: cover;
$backgroundSize-contain: contain;

$borderColor-transparent: transparent;
$borderColor-current: currentColor;
$borderColor-black: #000;
$borderColor-white: #fff;
$borderColor-gray-100: #f7fafc;
$borderColor-gray-200: #edf2f7;
$borderColor-gray-300: #e2e8f0;
$borderColor-gray-400: #cbd5e0;
$borderColor-gray-500: #a0aec0;
$borderColor-gray-600: #718096;
$borderColor-gray-700: #4a5568;
$borderColor-gray-800: #2d3748;
$borderColor-gray-900: #1a202c;
$borderColor-red-100: #fff5f5;
$borderColor-red-200: #fed7d7;
$borderColor-red-300: #feb2b2;
$borderColor-red-400: #fc8181;
$borderColor-red-500: #f56565;
$borderColor-red-600: #e53e3e;
$borderColor-red-700: #c53030;
$borderColor-red-800: #9b2c2c;
$borderColor-red-900: #742a2a;
$borderColor-orange-100: #fffaf0;
$borderColor-orange-200: #feebc8;
$borderColor-orange-300: #fbd38d;
$borderColor-orange-400: #f6ad55;
$borderColor-orange-500: #ed8936;
$borderColor-orange-600: #dd6b20;
$borderColor-orange-700: #c05621;
$borderColor-orange-800: #9c4221;
$borderColor-orange-900: #7b341e;
$borderColor-yellow-100: #fffff0;
$borderColor-yellow-200: #fefcbf;
$borderColor-yellow-300: #faf089;
$borderColor-yellow-400: #f6e05e;
$borderColor-yellow-500: #ecc94b;
$borderColor-yellow-600: #d69e2e;
$borderColor-yellow-700: #b7791f;
$borderColor-yellow-800: #975a16;
$borderColor-yellow-900: #744210;
$borderColor-green-100: #f0fff4;
$borderColor-green-200: #c6f6d5;
$borderColor-green-300: #9ae6b4;
$borderColor-green-400: #68d391;
$borderColor-green-500: #48bb78;
$borderColor-green-600: #38a169;
$borderColor-green-700: #2f855a;
$borderColor-green-800: #276749;
$borderColor-green-900: #22543d;
$borderColor-teal-100: #e6fffa;
$borderColor-teal-200: #b2f5ea;
$borderColor-teal-300: #81e6d9;
$borderColor-teal-400: #4fd1c5;
$borderColor-teal-500: #38b2ac;
$borderColor-teal-600: #319795;
$borderColor-teal-700: #2c7a7b;
$borderColor-teal-800: #285e61;
$borderColor-teal-900: #234e52;
$borderColor-blue-100: #ebf8ff;
$borderColor-blue-200: #bee3f8;
$borderColor-blue-300: #90cdf4;
$borderColor-blue-400: #63b3ed;
$borderColor-blue-500: #4299e1;
$borderColor-blue-600: #3182ce;
$borderColor-blue-700: #2b6cb0;
$borderColor-blue-800: #2c5282;
$borderColor-blue-900: #2a4365;
$borderColor-indigo-100: #ebf4ff;
$borderColor-indigo-200: #c3dafe;
$borderColor-indigo-300: #a3bffa;
$borderColor-indigo-400: #7f9cf5;
$borderColor-indigo-500: #667eea;
$borderColor-indigo-600: #5a67d8;
$borderColor-indigo-700: #4c51bf;
$borderColor-indigo-800: #434190;
$borderColor-indigo-900: #3c366b;
$borderColor-purple-100: #faf5ff;
$borderColor-purple-200: #e9d8fd;
$borderColor-purple-300: #d6bcfa;
$borderColor-purple-400: #b794f4;
$borderColor-purple-500: #9f7aea;
$borderColor-purple-600: #805ad5;
$borderColor-purple-700: #6b46c1;
$borderColor-purple-800: #553c9a;
$borderColor-purple-900: #44337a;
$borderColor-pink-100: #fff5f7;
$borderColor-pink-200: #fed7e2;
$borderColor-pink-300: #fbb6ce;
$borderColor-pink-400: #f687b3;
$borderColor-pink-500: #ed64a6;
$borderColor-pink-600: #d53f8c;
$borderColor-pink-700: #b83280;
$borderColor-pink-800: #97266d;
$borderColor-pink-900: #702459;
$borderColor-application: #1b1c22;
$borderColor-em-green-50: #f4fcf9;
$borderColor-em-green-100: #e9f9f3;
$borderColor-em-green-200: #c9f0e1;
$borderColor-em-green-300: #a8e7ce;
$borderColor-em-green-400: #67d6aa;
$borderColor-em-green-500: #26C485;
$borderColor-em-green-600: #22b078;
$borderColor-em-green-700: #1d9364;
$borderColor-em-green-800: #177650;
$borderColor-em-green-900: #136041;
$borderColor-em-red-50: #fdf4f5;
$borderColor-em-red-100: #fbeaeb;
$borderColor-em-red-200: #f6cacd;
$borderColor-em-red-300: #f0abaf;
$borderColor-em-red-400: #e56b74;
$borderColor-em-red-500: #DA2C38;
$borderColor-em-red-600: #c42832;
$borderColor-em-red-700: #a4212a;
$borderColor-em-red-800: #831a22;
$borderColor-em-red-900: #6b161b;
$borderColor-em-gray-50: #f4f4f4;
$borderColor-em-gray-100: #e8e8e9;
$borderColor-em-gray-200: #c6c6c8;
$borderColor-em-gray-300: #a4a4a7;
$borderColor-em-gray-400: #5f6064;
$borderColor-em-gray-500: #1b1c22;
$borderColor-em-gray-600: #18191f;
$borderColor-em-gray-700: #14151a;
$borderColor-em-gray-800: #101114;
$borderColor-em-gray-900: #0d0e11;
$borderColor-em-yellow-50: #fffdf8;
$borderColor-em-yellow-100: #fefbf0;
$borderColor-em-yellow-200: #fef6db;
$borderColor-em-yellow-300: #fdf1c5;
$borderColor-em-yellow-400: #fbe699;
$borderColor-em-yellow-500: #F9DB6D;
$borderColor-em-yellow-600: #e0c562;
$borderColor-em-yellow-700: #bba452;
$borderColor-em-yellow-800: #958341;
$borderColor-em-yellow-900: #7a6b35;
$borderColor-em-orange-50: #fcf9f3;
$borderColor-em-orange-100: #f9f2e7;
$borderColor-em-orange-200: #f0dfc3;
$borderColor-em-orange-300: #e6cb9f;
$borderColor-em-orange-400: #d4a458;
$borderColor-em-orange-500: #c17d10;
$borderColor-em-orange-600: #ae710e;
$borderColor-em-orange-700: #915e0c;
$borderColor-em-orange-800: #744b0a;
$borderColor-em-orange-900: #5f3d08;
$borderColor-default: #e2e8f0;

$borderOpacity-0: 0;
$borderOpacity-25: 0.25;
$borderOpacity-50: 0.5;
$borderOpacity-75: 0.75;
$borderOpacity-100: 1;

$borderRadius-none: 0;
$borderRadius-sm: 0.125rem;
$borderRadius-default: 0.25rem;
$borderRadius-md: 0.375rem;
$borderRadius-lg: 0.5rem;
$borderRadius-xl: 0.75rem;
$borderRadius-2xl: 1rem;
$borderRadius-3xl: 1.5rem;
$borderRadius-full: 9999px;

$borderWidth-0: 0;
$borderWidth-2: 2px;
$borderWidth-4: 4px;
$borderWidth-8: 8px;
$borderWidth-default: 1px;

$boxShadow-xs: (0 0 0 1px rgba(0, 0, 0, 0.05));
$boxShadow-sm: (0 1px 2px 0 rgba(0, 0, 0, 0.05));
$boxShadow-default: (0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06));
$boxShadow-md: (0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06));
$boxShadow-lg: (0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05));
$boxShadow-xl: (0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04));
$boxShadow-2xl: (0 25px 50px -12px rgba(0, 0, 0, 0.25));
$boxShadow-inner: (inset 0 2px 4px 0 rgba(0, 0, 0, 0.06));
$boxShadow-outline: (0 0 0 3px rgba(66, 153, 225, 0.5));
$boxShadow-none: none;


$cursor-auto: auto;
$cursor-default: default;
$cursor-pointer: pointer;
$cursor-wait: wait;
$cursor-text: text;
$cursor-move: move;
$cursor-not-allowed: not-allowed;

$divideColor-transparent: transparent;
$divideColor-current: currentColor;
$divideColor-black: #000;
$divideColor-white: #fff;
$divideColor-gray-100: #f7fafc;
$divideColor-gray-200: #edf2f7;
$divideColor-gray-300: #e2e8f0;
$divideColor-gray-400: #cbd5e0;
$divideColor-gray-500: #a0aec0;
$divideColor-gray-600: #718096;
$divideColor-gray-700: #4a5568;
$divideColor-gray-800: #2d3748;
$divideColor-gray-900: #1a202c;
$divideColor-red-100: #fff5f5;
$divideColor-red-200: #fed7d7;
$divideColor-red-300: #feb2b2;
$divideColor-red-400: #fc8181;
$divideColor-red-500: #f56565;
$divideColor-red-600: #e53e3e;
$divideColor-red-700: #c53030;
$divideColor-red-800: #9b2c2c;
$divideColor-red-900: #742a2a;
$divideColor-orange-100: #fffaf0;
$divideColor-orange-200: #feebc8;
$divideColor-orange-300: #fbd38d;
$divideColor-orange-400: #f6ad55;
$divideColor-orange-500: #ed8936;
$divideColor-orange-600: #dd6b20;
$divideColor-orange-700: #c05621;
$divideColor-orange-800: #9c4221;
$divideColor-orange-900: #7b341e;
$divideColor-yellow-100: #fffff0;
$divideColor-yellow-200: #fefcbf;
$divideColor-yellow-300: #faf089;
$divideColor-yellow-400: #f6e05e;
$divideColor-yellow-500: #ecc94b;
$divideColor-yellow-600: #d69e2e;
$divideColor-yellow-700: #b7791f;
$divideColor-yellow-800: #975a16;
$divideColor-yellow-900: #744210;
$divideColor-green-100: #f0fff4;
$divideColor-green-200: #c6f6d5;
$divideColor-green-300: #9ae6b4;
$divideColor-green-400: #68d391;
$divideColor-green-500: #48bb78;
$divideColor-green-600: #38a169;
$divideColor-green-700: #2f855a;
$divideColor-green-800: #276749;
$divideColor-green-900: #22543d;
$divideColor-teal-100: #e6fffa;
$divideColor-teal-200: #b2f5ea;
$divideColor-teal-300: #81e6d9;
$divideColor-teal-400: #4fd1c5;
$divideColor-teal-500: #38b2ac;
$divideColor-teal-600: #319795;
$divideColor-teal-700: #2c7a7b;
$divideColor-teal-800: #285e61;
$divideColor-teal-900: #234e52;
$divideColor-blue-100: #ebf8ff;
$divideColor-blue-200: #bee3f8;
$divideColor-blue-300: #90cdf4;
$divideColor-blue-400: #63b3ed;
$divideColor-blue-500: #4299e1;
$divideColor-blue-600: #3182ce;
$divideColor-blue-700: #2b6cb0;
$divideColor-blue-800: #2c5282;
$divideColor-blue-900: #2a4365;
$divideColor-indigo-100: #ebf4ff;
$divideColor-indigo-200: #c3dafe;
$divideColor-indigo-300: #a3bffa;
$divideColor-indigo-400: #7f9cf5;
$divideColor-indigo-500: #667eea;
$divideColor-indigo-600: #5a67d8;
$divideColor-indigo-700: #4c51bf;
$divideColor-indigo-800: #434190;
$divideColor-indigo-900: #3c366b;
$divideColor-purple-100: #faf5ff;
$divideColor-purple-200: #e9d8fd;
$divideColor-purple-300: #d6bcfa;
$divideColor-purple-400: #b794f4;
$divideColor-purple-500: #9f7aea;
$divideColor-purple-600: #805ad5;
$divideColor-purple-700: #6b46c1;
$divideColor-purple-800: #553c9a;
$divideColor-purple-900: #44337a;
$divideColor-pink-100: #fff5f7;
$divideColor-pink-200: #fed7e2;
$divideColor-pink-300: #fbb6ce;
$divideColor-pink-400: #f687b3;
$divideColor-pink-500: #ed64a6;
$divideColor-pink-600: #d53f8c;
$divideColor-pink-700: #b83280;
$divideColor-pink-800: #97266d;
$divideColor-pink-900: #702459;
$divideColor-application: #1b1c22;
$divideColor-em-green-50: #f4fcf9;
$divideColor-em-green-100: #e9f9f3;
$divideColor-em-green-200: #c9f0e1;
$divideColor-em-green-300: #a8e7ce;
$divideColor-em-green-400: #67d6aa;
$divideColor-em-green-500: #26C485;
$divideColor-em-green-600: #22b078;
$divideColor-em-green-700: #1d9364;
$divideColor-em-green-800: #177650;
$divideColor-em-green-900: #136041;
$divideColor-em-red-50: #fdf4f5;
$divideColor-em-red-100: #fbeaeb;
$divideColor-em-red-200: #f6cacd;
$divideColor-em-red-300: #f0abaf;
$divideColor-em-red-400: #e56b74;
$divideColor-em-red-500: #DA2C38;
$divideColor-em-red-600: #c42832;
$divideColor-em-red-700: #a4212a;
$divideColor-em-red-800: #831a22;
$divideColor-em-red-900: #6b161b;
$divideColor-em-gray-50: #f4f4f4;
$divideColor-em-gray-100: #e8e8e9;
$divideColor-em-gray-200: #c6c6c8;
$divideColor-em-gray-300: #a4a4a7;
$divideColor-em-gray-400: #5f6064;
$divideColor-em-gray-500: #1b1c22;
$divideColor-em-gray-600: #18191f;
$divideColor-em-gray-700: #14151a;
$divideColor-em-gray-800: #101114;
$divideColor-em-gray-900: #0d0e11;
$divideColor-em-yellow-50: #fffdf8;
$divideColor-em-yellow-100: #fefbf0;
$divideColor-em-yellow-200: #fef6db;
$divideColor-em-yellow-300: #fdf1c5;
$divideColor-em-yellow-400: #fbe699;
$divideColor-em-yellow-500: #F9DB6D;
$divideColor-em-yellow-600: #e0c562;
$divideColor-em-yellow-700: #bba452;
$divideColor-em-yellow-800: #958341;
$divideColor-em-yellow-900: #7a6b35;
$divideColor-em-orange-50: #fcf9f3;
$divideColor-em-orange-100: #f9f2e7;
$divideColor-em-orange-200: #f0dfc3;
$divideColor-em-orange-300: #e6cb9f;
$divideColor-em-orange-400: #d4a458;
$divideColor-em-orange-500: #c17d10;
$divideColor-em-orange-600: #ae710e;
$divideColor-em-orange-700: #915e0c;
$divideColor-em-orange-800: #744b0a;
$divideColor-em-orange-900: #5f3d08;
$divideColor-default: #e2e8f0;

$divideOpacity-0: 0;
$divideOpacity-25: 0.25;
$divideOpacity-50: 0.5;
$divideOpacity-75: 0.75;
$divideOpacity-100: 1;

$divideWidth-0: 0;
$divideWidth-2: 2px;
$divideWidth-4: 4px;
$divideWidth-8: 8px;
$divideWidth-default: 1px;

$fill-current: currentColor;

$flex-1: 1 1 0%;
$flex-auto: 1 1 auto;
$flex-initial: 0 1 auto;
$flex-none: none;

$flexGrow-0: 0;
$flexGrow-default: 1;

$flexShrink-0: 0;
$flexShrink-default: 1;

$fontSize-xs: 0.75rem;
$fontSize-sm: 0.875rem;
$fontSize-base: 1rem;
$fontSize-lg: 1.125rem;
$fontSize-xl: 1.25rem;
$fontSize-2xl: 1.5rem;
$fontSize-3xl: 1.875rem;
$fontSize-4xl: 2.25rem;
$fontSize-5xl: 3rem;
$fontSize-6xl: 4rem;

$fontWeight-hairline: 100;
$fontWeight-thin: 200;
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-black: 900;

$height-0: 0;
$height-1: 0.25rem;
$height-2: 0.5rem;
$height-3: 0.75rem;
$height-4: 1rem;
$height-5: 1.25rem;
$height-6: 1.5rem;
$height-8: 2rem;
$height-10: 2.5rem;
$height-12: 3rem;
$height-16: 4rem;
$height-20: 5rem;
$height-24: 6rem;
$height-32: 8rem;
$height-40: 10rem;
$height-48: 12rem;
$height-56: 14rem;
$height-64: 16rem;
$height-auto: auto;
$height-px: 1px;
$height-full: 100%;
$height-screen: 100vh;

$inset-0: 0;
$inset-auto: auto;

$letterSpacing-tighter: -0.05em;
$letterSpacing-tight: -0.025em;
$letterSpacing-normal: 0;
$letterSpacing-wide: 0.025em;
$letterSpacing-wider: 0.05em;
$letterSpacing-widest: 0.1em;

$lineHeight-3: .75rem;
$lineHeight-4: 1rem;
$lineHeight-5: 1.25rem;
$lineHeight-6: 1.5rem;
$lineHeight-7: 1.75rem;
$lineHeight-8: 2rem;
$lineHeight-9: 2.25rem;
$lineHeight-10: 2.5rem;
$lineHeight-none: 1;
$lineHeight-tight: 1.25;
$lineHeight-snug: 1.375;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;
$lineHeight-loose: 2;

$listStyleType-none: none;
$listStyleType-disc: disc;
$listStyleType-decimal: decimal;

$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 0.75rem;
$margin-4: 1rem;
$margin-5: 1.25rem;
$margin-6: 1.5rem;
$margin-8: 2rem;
$margin-10: 2.5rem;
$margin-12: 3rem;
$margin-16: 4rem;
$margin-20: 5rem;
$margin-24: 6rem;
$margin-32: 8rem;
$margin-40: 10rem;
$margin-48: 12rem;
$margin-56: 14rem;
$margin-64: 16rem;
$margin-auto: auto;
$margin-px: 1px;
$margin--1: -0.25rem;
$margin--2: -0.5rem;
$margin--3: -0.75rem;
$margin--4: -1rem;
$margin--5: -1.25rem;
$margin--6: -1.5rem;
$margin--8: -2rem;
$margin--10: -2.5rem;
$margin--12: -3rem;
$margin--16: -4rem;
$margin--20: -5rem;
$margin--24: -6rem;
$margin--32: -8rem;
$margin--40: -10rem;
$margin--48: -12rem;
$margin--56: -14rem;
$margin--64: -16rem;
$margin--px: -1px;

$maxHeight-full: 100%;
$maxHeight-screen: 100vh;

$maxWidth-none: none;
$maxWidth-xs: 20rem;
$maxWidth-sm: 24rem;
$maxWidth-md: 28rem;
$maxWidth-lg: 32rem;
$maxWidth-xl: 36rem;
$maxWidth-2xl: 42rem;
$maxWidth-3xl: 48rem;
$maxWidth-4xl: 56rem;
$maxWidth-5xl: 64rem;
$maxWidth-6xl: 72rem;
$maxWidth-full: 100%;
$maxWidth-screen-sm: 640px;
$maxWidth-screen-md: 768px;
$maxWidth-screen-lg: 1024px;
$maxWidth-screen-xl: 1280px;

$minHeight-0: 0;
$minHeight-full: 100%;
$minHeight-screen: 100vh;

$minWidth-0: 0;
$minWidth-full: 100%;

$objectPosition-bottom: bottom;
$objectPosition-center: center;
$objectPosition-left: left;
$objectPosition-left-bottom: left bottom;
$objectPosition-left-top: left top;
$objectPosition-right: right;
$objectPosition-right-bottom: right bottom;
$objectPosition-right-top: right top;
$objectPosition-top: top;

$opacity-0: 0;
$opacity-25: 0.25;
$opacity-50: 0.5;
$opacity-75: 0.75;
$opacity-100: 1;

$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-first: -9999;
$order-last: 9999;
$order-none: 0;

$outline-none: (2px solid transparent,2px);
$outline-white: (2px dotted white,2px);
$outline-black: (2px dotted black,2px);

$padding-0: 0;
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 0.75rem;
$padding-4: 1rem;
$padding-5: 1.25rem;
$padding-6: 1.5rem;
$padding-8: 2rem;
$padding-10: 2.5rem;
$padding-12: 3rem;
$padding-16: 4rem;
$padding-20: 5rem;
$padding-24: 6rem;
$padding-32: 8rem;
$padding-40: 10rem;
$padding-48: 12rem;
$padding-56: 14rem;
$padding-64: 16rem;
$padding-px: 1px;

$placeholderColor-transparent: transparent;
$placeholderColor-current: currentColor;
$placeholderColor-black: #000;
$placeholderColor-white: #fff;
$placeholderColor-gray-100: #f7fafc;
$placeholderColor-gray-200: #edf2f7;
$placeholderColor-gray-300: #e2e8f0;
$placeholderColor-gray-400: #cbd5e0;
$placeholderColor-gray-500: #a0aec0;
$placeholderColor-gray-600: #718096;
$placeholderColor-gray-700: #4a5568;
$placeholderColor-gray-800: #2d3748;
$placeholderColor-gray-900: #1a202c;
$placeholderColor-red-100: #fff5f5;
$placeholderColor-red-200: #fed7d7;
$placeholderColor-red-300: #feb2b2;
$placeholderColor-red-400: #fc8181;
$placeholderColor-red-500: #f56565;
$placeholderColor-red-600: #e53e3e;
$placeholderColor-red-700: #c53030;
$placeholderColor-red-800: #9b2c2c;
$placeholderColor-red-900: #742a2a;
$placeholderColor-orange-100: #fffaf0;
$placeholderColor-orange-200: #feebc8;
$placeholderColor-orange-300: #fbd38d;
$placeholderColor-orange-400: #f6ad55;
$placeholderColor-orange-500: #ed8936;
$placeholderColor-orange-600: #dd6b20;
$placeholderColor-orange-700: #c05621;
$placeholderColor-orange-800: #9c4221;
$placeholderColor-orange-900: #7b341e;
$placeholderColor-yellow-100: #fffff0;
$placeholderColor-yellow-200: #fefcbf;
$placeholderColor-yellow-300: #faf089;
$placeholderColor-yellow-400: #f6e05e;
$placeholderColor-yellow-500: #ecc94b;
$placeholderColor-yellow-600: #d69e2e;
$placeholderColor-yellow-700: #b7791f;
$placeholderColor-yellow-800: #975a16;
$placeholderColor-yellow-900: #744210;
$placeholderColor-green-100: #f0fff4;
$placeholderColor-green-200: #c6f6d5;
$placeholderColor-green-300: #9ae6b4;
$placeholderColor-green-400: #68d391;
$placeholderColor-green-500: #48bb78;
$placeholderColor-green-600: #38a169;
$placeholderColor-green-700: #2f855a;
$placeholderColor-green-800: #276749;
$placeholderColor-green-900: #22543d;
$placeholderColor-teal-100: #e6fffa;
$placeholderColor-teal-200: #b2f5ea;
$placeholderColor-teal-300: #81e6d9;
$placeholderColor-teal-400: #4fd1c5;
$placeholderColor-teal-500: #38b2ac;
$placeholderColor-teal-600: #319795;
$placeholderColor-teal-700: #2c7a7b;
$placeholderColor-teal-800: #285e61;
$placeholderColor-teal-900: #234e52;
$placeholderColor-blue-100: #ebf8ff;
$placeholderColor-blue-200: #bee3f8;
$placeholderColor-blue-300: #90cdf4;
$placeholderColor-blue-400: #63b3ed;
$placeholderColor-blue-500: #4299e1;
$placeholderColor-blue-600: #3182ce;
$placeholderColor-blue-700: #2b6cb0;
$placeholderColor-blue-800: #2c5282;
$placeholderColor-blue-900: #2a4365;
$placeholderColor-indigo-100: #ebf4ff;
$placeholderColor-indigo-200: #c3dafe;
$placeholderColor-indigo-300: #a3bffa;
$placeholderColor-indigo-400: #7f9cf5;
$placeholderColor-indigo-500: #667eea;
$placeholderColor-indigo-600: #5a67d8;
$placeholderColor-indigo-700: #4c51bf;
$placeholderColor-indigo-800: #434190;
$placeholderColor-indigo-900: #3c366b;
$placeholderColor-purple-100: #faf5ff;
$placeholderColor-purple-200: #e9d8fd;
$placeholderColor-purple-300: #d6bcfa;
$placeholderColor-purple-400: #b794f4;
$placeholderColor-purple-500: #9f7aea;
$placeholderColor-purple-600: #805ad5;
$placeholderColor-purple-700: #6b46c1;
$placeholderColor-purple-800: #553c9a;
$placeholderColor-purple-900: #44337a;
$placeholderColor-pink-100: #fff5f7;
$placeholderColor-pink-200: #fed7e2;
$placeholderColor-pink-300: #fbb6ce;
$placeholderColor-pink-400: #f687b3;
$placeholderColor-pink-500: #ed64a6;
$placeholderColor-pink-600: #d53f8c;
$placeholderColor-pink-700: #b83280;
$placeholderColor-pink-800: #97266d;
$placeholderColor-pink-900: #702459;
$placeholderColor-application: #1b1c22;
$placeholderColor-em-green-50: #f4fcf9;
$placeholderColor-em-green-100: #e9f9f3;
$placeholderColor-em-green-200: #c9f0e1;
$placeholderColor-em-green-300: #a8e7ce;
$placeholderColor-em-green-400: #67d6aa;
$placeholderColor-em-green-500: #26C485;
$placeholderColor-em-green-600: #22b078;
$placeholderColor-em-green-700: #1d9364;
$placeholderColor-em-green-800: #177650;
$placeholderColor-em-green-900: #136041;
$placeholderColor-em-red-50: #fdf4f5;
$placeholderColor-em-red-100: #fbeaeb;
$placeholderColor-em-red-200: #f6cacd;
$placeholderColor-em-red-300: #f0abaf;
$placeholderColor-em-red-400: #e56b74;
$placeholderColor-em-red-500: #DA2C38;
$placeholderColor-em-red-600: #c42832;
$placeholderColor-em-red-700: #a4212a;
$placeholderColor-em-red-800: #831a22;
$placeholderColor-em-red-900: #6b161b;
$placeholderColor-em-gray-50: #f4f4f4;
$placeholderColor-em-gray-100: #e8e8e9;
$placeholderColor-em-gray-200: #c6c6c8;
$placeholderColor-em-gray-300: #a4a4a7;
$placeholderColor-em-gray-400: #5f6064;
$placeholderColor-em-gray-500: #1b1c22;
$placeholderColor-em-gray-600: #18191f;
$placeholderColor-em-gray-700: #14151a;
$placeholderColor-em-gray-800: #101114;
$placeholderColor-em-gray-900: #0d0e11;
$placeholderColor-em-yellow-50: #fffdf8;
$placeholderColor-em-yellow-100: #fefbf0;
$placeholderColor-em-yellow-200: #fef6db;
$placeholderColor-em-yellow-300: #fdf1c5;
$placeholderColor-em-yellow-400: #fbe699;
$placeholderColor-em-yellow-500: #F9DB6D;
$placeholderColor-em-yellow-600: #e0c562;
$placeholderColor-em-yellow-700: #bba452;
$placeholderColor-em-yellow-800: #958341;
$placeholderColor-em-yellow-900: #7a6b35;
$placeholderColor-em-orange-50: #fcf9f3;
$placeholderColor-em-orange-100: #f9f2e7;
$placeholderColor-em-orange-200: #f0dfc3;
$placeholderColor-em-orange-300: #e6cb9f;
$placeholderColor-em-orange-400: #d4a458;
$placeholderColor-em-orange-500: #c17d10;
$placeholderColor-em-orange-600: #ae710e;
$placeholderColor-em-orange-700: #915e0c;
$placeholderColor-em-orange-800: #744b0a;
$placeholderColor-em-orange-900: #5f3d08;

$placeholderOpacity-0: 0;
$placeholderOpacity-25: 0.25;
$placeholderOpacity-50: 0.5;
$placeholderOpacity-75: 0.75;
$placeholderOpacity-100: 1;

$space-0: 0;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-8: 2rem;
$space-10: 2.5rem;
$space-12: 3rem;
$space-16: 4rem;
$space-20: 5rem;
$space-24: 6rem;
$space-32: 8rem;
$space-40: 10rem;
$space-48: 12rem;
$space-56: 14rem;
$space-64: 16rem;
$space-px: 1px;
$space--1: -0.25rem;
$space--2: -0.5rem;
$space--3: -0.75rem;
$space--4: -1rem;
$space--5: -1.25rem;
$space--6: -1.5rem;
$space--8: -2rem;
$space--10: -2.5rem;
$space--12: -3rem;
$space--16: -4rem;
$space--20: -5rem;
$space--24: -6rem;
$space--32: -8rem;
$space--40: -10rem;
$space--48: -12rem;
$space--56: -14rem;
$space--64: -16rem;
$space--px: -1px;

$stroke-current: currentColor;

$strokeWidth-0: 0;
$strokeWidth-1: 1;
$strokeWidth-2: 2;

$textColor-transparent: transparent;
$textColor-current: currentColor;
$textColor-black: #000;
$textColor-white: #fff;
$textColor-gray-100: #f7fafc;
$textColor-gray-200: #edf2f7;
$textColor-gray-300: #e2e8f0;
$textColor-gray-400: #cbd5e0;
$textColor-gray-500: #a0aec0;
$textColor-gray-600: #718096;
$textColor-gray-700: #4a5568;
$textColor-gray-800: #2d3748;
$textColor-gray-900: #1a202c;
$textColor-red-100: #fff5f5;
$textColor-red-200: #fed7d7;
$textColor-red-300: #feb2b2;
$textColor-red-400: #fc8181;
$textColor-red-500: #f56565;
$textColor-red-600: #e53e3e;
$textColor-red-700: #c53030;
$textColor-red-800: #9b2c2c;
$textColor-red-900: #742a2a;
$textColor-orange-100: #fffaf0;
$textColor-orange-200: #feebc8;
$textColor-orange-300: #fbd38d;
$textColor-orange-400: #f6ad55;
$textColor-orange-500: #ed8936;
$textColor-orange-600: #dd6b20;
$textColor-orange-700: #c05621;
$textColor-orange-800: #9c4221;
$textColor-orange-900: #7b341e;
$textColor-yellow-100: #fffff0;
$textColor-yellow-200: #fefcbf;
$textColor-yellow-300: #faf089;
$textColor-yellow-400: #f6e05e;
$textColor-yellow-500: #ecc94b;
$textColor-yellow-600: #d69e2e;
$textColor-yellow-700: #b7791f;
$textColor-yellow-800: #975a16;
$textColor-yellow-900: #744210;
$textColor-green-100: #f0fff4;
$textColor-green-200: #c6f6d5;
$textColor-green-300: #9ae6b4;
$textColor-green-400: #68d391;
$textColor-green-500: #48bb78;
$textColor-green-600: #38a169;
$textColor-green-700: #2f855a;
$textColor-green-800: #276749;
$textColor-green-900: #22543d;
$textColor-teal-100: #e6fffa;
$textColor-teal-200: #b2f5ea;
$textColor-teal-300: #81e6d9;
$textColor-teal-400: #4fd1c5;
$textColor-teal-500: #38b2ac;
$textColor-teal-600: #319795;
$textColor-teal-700: #2c7a7b;
$textColor-teal-800: #285e61;
$textColor-teal-900: #234e52;
$textColor-blue-100: #ebf8ff;
$textColor-blue-200: #bee3f8;
$textColor-blue-300: #90cdf4;
$textColor-blue-400: #63b3ed;
$textColor-blue-500: #4299e1;
$textColor-blue-600: #3182ce;
$textColor-blue-700: #2b6cb0;
$textColor-blue-800: #2c5282;
$textColor-blue-900: #2a4365;
$textColor-indigo-100: #ebf4ff;
$textColor-indigo-200: #c3dafe;
$textColor-indigo-300: #a3bffa;
$textColor-indigo-400: #7f9cf5;
$textColor-indigo-500: #667eea;
$textColor-indigo-600: #5a67d8;
$textColor-indigo-700: #4c51bf;
$textColor-indigo-800: #434190;
$textColor-indigo-900: #3c366b;
$textColor-purple-100: #faf5ff;
$textColor-purple-200: #e9d8fd;
$textColor-purple-300: #d6bcfa;
$textColor-purple-400: #b794f4;
$textColor-purple-500: #9f7aea;
$textColor-purple-600: #805ad5;
$textColor-purple-700: #6b46c1;
$textColor-purple-800: #553c9a;
$textColor-purple-900: #44337a;
$textColor-pink-100: #fff5f7;
$textColor-pink-200: #fed7e2;
$textColor-pink-300: #fbb6ce;
$textColor-pink-400: #f687b3;
$textColor-pink-500: #ed64a6;
$textColor-pink-600: #d53f8c;
$textColor-pink-700: #b83280;
$textColor-pink-800: #97266d;
$textColor-pink-900: #702459;
$textColor-application: #1b1c22;
$textColor-em-green-50: #f4fcf9;
$textColor-em-green-100: #e9f9f3;
$textColor-em-green-200: #c9f0e1;
$textColor-em-green-300: #a8e7ce;
$textColor-em-green-400: #67d6aa;
$textColor-em-green-500: #26C485;
$textColor-em-green-600: #22b078;
$textColor-em-green-700: #1d9364;
$textColor-em-green-800: #177650;
$textColor-em-green-900: #136041;
$textColor-em-red-50: #fdf4f5;
$textColor-em-red-100: #fbeaeb;
$textColor-em-red-200: #f6cacd;
$textColor-em-red-300: #f0abaf;
$textColor-em-red-400: #e56b74;
$textColor-em-red-500: #DA2C38;
$textColor-em-red-600: #c42832;
$textColor-em-red-700: #a4212a;
$textColor-em-red-800: #831a22;
$textColor-em-red-900: #6b161b;
$textColor-em-gray-50: #f4f4f4;
$textColor-em-gray-100: #e8e8e9;
$textColor-em-gray-200: #c6c6c8;
$textColor-em-gray-300: #a4a4a7;
$textColor-em-gray-400: #5f6064;
$textColor-em-gray-500: #1b1c22;
$textColor-em-gray-600: #18191f;
$textColor-em-gray-700: #14151a;
$textColor-em-gray-800: #101114;
$textColor-em-gray-900: #0d0e11;
$textColor-em-yellow-50: #fffdf8;
$textColor-em-yellow-100: #fefbf0;
$textColor-em-yellow-200: #fef6db;
$textColor-em-yellow-300: #fdf1c5;
$textColor-em-yellow-400: #fbe699;
$textColor-em-yellow-500: #F9DB6D;
$textColor-em-yellow-600: #e0c562;
$textColor-em-yellow-700: #bba452;
$textColor-em-yellow-800: #958341;
$textColor-em-yellow-900: #7a6b35;
$textColor-em-orange-50: #fcf9f3;
$textColor-em-orange-100: #f9f2e7;
$textColor-em-orange-200: #f0dfc3;
$textColor-em-orange-300: #e6cb9f;
$textColor-em-orange-400: #d4a458;
$textColor-em-orange-500: #c17d10;
$textColor-em-orange-600: #ae710e;
$textColor-em-orange-700: #915e0c;
$textColor-em-orange-800: #744b0a;
$textColor-em-orange-900: #5f3d08;

$textOpacity-0: 0;
$textOpacity-25: 0.25;
$textOpacity-50: 0.5;
$textOpacity-75: 0.75;
$textOpacity-100: 1;

$width-0: 0;
$width-1: 0.25rem;
$width-2: 0.5rem;
$width-3: 0.75rem;
$width-4: 1rem;
$width-5: 1.25rem;
$width-6: 1.5rem;
$width-8: 2rem;
$width-10: 2.5rem;
$width-12: 3rem;
$width-16: 4rem;
$width-20: 5rem;
$width-24: 6rem;
$width-32: 8rem;
$width-40: 10rem;
$width-48: 12rem;
$width-56: 14rem;
$width-64: 16rem;
$width-auto: auto;
$width-px: 1px;
$width-1\/2: 50%;
$width-1\/3: 33.333333%;
$width-2\/3: 66.666667%;
$width-1\/4: 25%;
$width-2\/4: 50%;
$width-3\/4: 75%;
$width-1\/5: 20%;
$width-2\/5: 40%;
$width-3\/5: 60%;
$width-4\/5: 80%;
$width-1\/6: 16.666667%;
$width-2\/6: 33.333333%;
$width-3\/6: 50%;
$width-4\/6: 66.666667%;
$width-5\/6: 83.333333%;
$width-1\/12: 8.333333%;
$width-2\/12: 16.666667%;
$width-3\/12: 25%;
$width-4\/12: 33.333333%;
$width-5\/12: 41.666667%;
$width-6\/12: 50%;
$width-7\/12: 58.333333%;
$width-8\/12: 66.666667%;
$width-9\/12: 75%;
$width-10\/12: 83.333333%;
$width-11\/12: 91.666667%;
$width-full: 100%;
$width-screen: 100vw;

$zIndex-0: 0;
$zIndex-10: 10;
$zIndex-20: 20;
$zIndex-30: 30;
$zIndex-40: 40;
$zIndex-50: 50;
$zIndex-auto: auto;

$gap-0: 0;
$gap-1: 0.25rem;
$gap-2: 0.5rem;
$gap-3: 0.75rem;
$gap-4: 1rem;
$gap-5: 1.25rem;
$gap-6: 1.5rem;
$gap-8: 2rem;
$gap-10: 2.5rem;
$gap-12: 3rem;
$gap-16: 4rem;
$gap-20: 5rem;
$gap-24: 6rem;
$gap-32: 8rem;
$gap-40: 10rem;
$gap-48: 12rem;
$gap-56: 14rem;
$gap-64: 16rem;
$gap-px: 1px;

$gridTemplateColumns-1: (repeat(1, minmax(0, 1fr)));
$gridTemplateColumns-2: (repeat(2, minmax(0, 1fr)));
$gridTemplateColumns-3: (repeat(3, minmax(0, 1fr)));
$gridTemplateColumns-4: (repeat(4, minmax(0, 1fr)));
$gridTemplateColumns-5: (repeat(5, minmax(0, 1fr)));
$gridTemplateColumns-6: (repeat(6, minmax(0, 1fr)));
$gridTemplateColumns-7: (repeat(7, minmax(0, 1fr)));
$gridTemplateColumns-8: (repeat(8, minmax(0, 1fr)));
$gridTemplateColumns-9: (repeat(9, minmax(0, 1fr)));
$gridTemplateColumns-10: (repeat(10, minmax(0, 1fr)));
$gridTemplateColumns-11: (repeat(11, minmax(0, 1fr)));
$gridTemplateColumns-12: (repeat(12, minmax(0, 1fr)));
$gridTemplateColumns-none: none;

$gridAutoColumns-auto: auto;
$gridAutoColumns-min: min-content;
$gridAutoColumns-max: max-content;
$gridAutoColumns-fr: (minmax(0, 1fr));

$gridColumn-auto: auto;
$gridColumn-span-1: span 1 / span 1;
$gridColumn-span-2: span 2 / span 2;
$gridColumn-span-3: span 3 / span 3;
$gridColumn-span-4: span 4 / span 4;
$gridColumn-span-5: span 5 / span 5;
$gridColumn-span-6: span 6 / span 6;
$gridColumn-span-7: span 7 / span 7;
$gridColumn-span-8: span 8 / span 8;
$gridColumn-span-9: span 9 / span 9;
$gridColumn-span-10: span 10 / span 10;
$gridColumn-span-11: span 11 / span 11;
$gridColumn-span-12: span 12 / span 12;
$gridColumn-span-full: 1 / -1;

$gridColumnStart-1: 1;
$gridColumnStart-2: 2;
$gridColumnStart-3: 3;
$gridColumnStart-4: 4;
$gridColumnStart-5: 5;
$gridColumnStart-6: 6;
$gridColumnStart-7: 7;
$gridColumnStart-8: 8;
$gridColumnStart-9: 9;
$gridColumnStart-10: 10;
$gridColumnStart-11: 11;
$gridColumnStart-12: 12;
$gridColumnStart-13: 13;
$gridColumnStart-auto: auto;

$gridColumnEnd-1: 1;
$gridColumnEnd-2: 2;
$gridColumnEnd-3: 3;
$gridColumnEnd-4: 4;
$gridColumnEnd-5: 5;
$gridColumnEnd-6: 6;
$gridColumnEnd-7: 7;
$gridColumnEnd-8: 8;
$gridColumnEnd-9: 9;
$gridColumnEnd-10: 10;
$gridColumnEnd-11: 11;
$gridColumnEnd-12: 12;
$gridColumnEnd-13: 13;
$gridColumnEnd-auto: auto;

$gridTemplateRows-1: (repeat(1, minmax(0, 1fr)));
$gridTemplateRows-2: (repeat(2, minmax(0, 1fr)));
$gridTemplateRows-3: (repeat(3, minmax(0, 1fr)));
$gridTemplateRows-4: (repeat(4, minmax(0, 1fr)));
$gridTemplateRows-5: (repeat(5, minmax(0, 1fr)));
$gridTemplateRows-6: (repeat(6, minmax(0, 1fr)));
$gridTemplateRows-none: none;

$gridAutoRows-auto: auto;
$gridAutoRows-min: min-content;
$gridAutoRows-max: max-content;
$gridAutoRows-fr: (minmax(0, 1fr));

$gridRow-auto: auto;
$gridRow-span-1: span 1 / span 1;
$gridRow-span-2: span 2 / span 2;
$gridRow-span-3: span 3 / span 3;
$gridRow-span-4: span 4 / span 4;
$gridRow-span-5: span 5 / span 5;
$gridRow-span-6: span 6 / span 6;
$gridRow-span-full: 1 / -1;

$gridRowStart-1: 1;
$gridRowStart-2: 2;
$gridRowStart-3: 3;
$gridRowStart-4: 4;
$gridRowStart-5: 5;
$gridRowStart-6: 6;
$gridRowStart-7: 7;
$gridRowStart-auto: auto;

$gridRowEnd-1: 1;
$gridRowEnd-2: 2;
$gridRowEnd-3: 3;
$gridRowEnd-4: 4;
$gridRowEnd-5: 5;
$gridRowEnd-6: 6;
$gridRowEnd-7: 7;
$gridRowEnd-auto: auto;

$transformOrigin-center: center;
$transformOrigin-top: top;
$transformOrigin-top-right: top right;
$transformOrigin-right: right;
$transformOrigin-bottom-right: bottom right;
$transformOrigin-bottom: bottom;
$transformOrigin-bottom-left: bottom left;
$transformOrigin-left: left;
$transformOrigin-top-left: top left;

$scale-0: 0;
$scale-50: .5;
$scale-75: .75;
$scale-90: .9;
$scale-95: .95;
$scale-100: 1;
$scale-105: 1.05;
$scale-110: 1.1;
$scale-125: 1.25;
$scale-150: 1.5;

$rotate-0: 0;
$rotate-1: 1deg;
$rotate-2: 2deg;
$rotate-3: 3deg;
$rotate-6: 6deg;
$rotate-12: 12deg;
$rotate-45: 45deg;
$rotate-90: 90deg;
$rotate-180: 180deg;
$rotate--180: -180deg;
$rotate--90: -90deg;
$rotate--45: -45deg;
$rotate--12: -12deg;
$rotate--6: -6deg;
$rotate--3: -3deg;
$rotate--2: -2deg;
$rotate--1: -1deg;

$translate-0: 0;
$translate-1: 0.25rem;
$translate-2: 0.5rem;
$translate-3: 0.75rem;
$translate-4: 1rem;
$translate-5: 1.25rem;
$translate-6: 1.5rem;
$translate-8: 2rem;
$translate-10: 2.5rem;
$translate-12: 3rem;
$translate-16: 4rem;
$translate-20: 5rem;
$translate-24: 6rem;
$translate-32: 8rem;
$translate-40: 10rem;
$translate-48: 12rem;
$translate-56: 14rem;
$translate-64: 16rem;
$translate-px: 1px;
$translate--1: -0.25rem;
$translate--2: -0.5rem;
$translate--3: -0.75rem;
$translate--4: -1rem;
$translate--5: -1.25rem;
$translate--6: -1.5rem;
$translate--8: -2rem;
$translate--10: -2.5rem;
$translate--12: -3rem;
$translate--16: -4rem;
$translate--20: -5rem;
$translate--24: -6rem;
$translate--32: -8rem;
$translate--40: -10rem;
$translate--48: -12rem;
$translate--56: -14rem;
$translate--64: -16rem;
$translate--px: -1px;
$translate--full: -100%;
$translate--1\/2: -50%;
$translate-1\/2: 50%;
$translate-full: 100%;

$skew-0: 0;
$skew-1: 1deg;
$skew-2: 2deg;
$skew-3: 3deg;
$skew-6: 6deg;
$skew-12: 12deg;
$skew--12: -12deg;
$skew--6: -6deg;
$skew--3: -3deg;
$skew--2: -2deg;
$skew--1: -1deg;

$transitionProperty-none: none;
$transitionProperty-all: all;
$transitionProperty-default: (background-color, border-color, color, fill, stroke, opacity, box-shadow, transform);
$transitionProperty-colors: (background-color, border-color, color, fill, stroke);
$transitionProperty-opacity: opacity;
$transitionProperty-shadow: box-shadow;
$transitionProperty-transform: transform;

$transitionTimingFunction-linear: linear;
$transitionTimingFunction-in: (cubic-bezier(0.4, 0, 1, 1));
$transitionTimingFunction-out: (cubic-bezier(0, 0, 0.2, 1));
$transitionTimingFunction-in-out: (cubic-bezier(0.4, 0, 0.2, 1));

$transitionDuration-75: 75ms;
$transitionDuration-100: 100ms;
$transitionDuration-150: 150ms;
$transitionDuration-200: 200ms;
$transitionDuration-300: 300ms;
$transitionDuration-500: 500ms;
$transitionDuration-700: 700ms;
$transitionDuration-1000: 1000ms;

$transitionDelay-75: 75ms;
$transitionDelay-100: 100ms;
$transitionDelay-150: 150ms;
$transitionDelay-200: 200ms;
$transitionDelay-300: 300ms;
$transitionDelay-500: 500ms;
$transitionDelay-700: 700ms;
$transitionDelay-1000: 1000ms;

$animation-none: none;
$animation-spin: spin 1s linear infinite;
$animation-ping: (ping 1s cubic-bezier(0, 0, 0.2, 1) infinite);
$animation-pulse: (pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
$animation-bounce: bounce 1s infinite;
