<template functional>
  <span>{{ $options.methods.format(props.error) }}</span>
</template>

<script>
import { Vue, Component, Prop } from 'vue-property-decorator'

/**
 * This functional component formats a single error message depending on available fields.
 *
 * It will first try to display the error detail if avaible, or fall back to the
 * error title. If an error code is available, it will also display it in
 * parenthesis.
 *
 * @todo Add support for "about" links
 */
@Component
export default class ErrorMessage extends Vue {
  /**
   * The JSON:API error object to display as a message.
   */
  @Prop({
    type: Object,
    required: true,
    validator: (value) => {
      return value && (value.detail || value.title)
    },
  })
  error

  /**
   * Formats the error message using the error's data.
   * The error detail takes precedence over its title if both are available.
   * It also display the error code if it is specified.
   */
  format(error) {
    const codeMessage = error.code ? ` (code ${error.code})` : ''

    if (error.detail) {
      return `${error.detail}${codeMessage}`
    } else if (error.title) {
      return `${error.title}${codeMessage}`
    }
  }
}
</script>
