<template>
  <div>
    <div v-if="hasMultipleErrors()">
      <h4>Multiple errors have occurred :</h4>
      <ul>
        <li
          v-for="(error, index) in filteredErrors"
          v-show="showAll || index + 1 <= limit"
          :key="index"
        >
          <JsonApi-ErrorMessage :error="error" />
        </li>
      </ul>

      <div v-if="totalErrorCount > limit">
        <a class="em-link" @click="toggleShowAll">{{ toggleText }}</a>
      </div>
    </div>

    <div v-else>
      <JsonApi-ErrorMessage :error="errors[0]" />
    </div>
  </div>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator'

/**
 * Formats JSON:API errors to display as messages to the user.
 *
 * This component is agnostic of its parent - it may be used inside another
 * component, a Nuxt page, or as a toast template for vue-toastification.
 *
 * If multiple errors are present, it will show them as a limited list, hiding
 * the rest of the errors which can be revealed.
 */
@Component
export default class Errors extends Vue {
  /**
   * The list of errors to display.
   * There must be at least 1 error object.
   */
  @Prop({
    type: Array,
    required: true,
    validator: (value) => {
      return value.length > 0
    },
  })
  errors

  /**
   * The number of errors to display before hiding behind a toggle.
   */
  @Prop({ type: Number, required: false, default: 3 }) limit

  /**
   * Whether all errors should be shown.
   */
  showAll = false

  get totalErrorCount() {
    return this.filteredErrors.length
  }

  /**
   * Returns a new array without any duplicates.
   * A duplicate is defined as having the same detail, title and error code.
   */
  get filteredErrors() {
    return (this._filteredErrors ||= this.errors.filter(
      (error, index, self) =>
        index ===
        self.findIndex(
          (e) =>
            error.detail === e.detail &&
            error.title === e.title &&
            error.code === e.code
        )
    ))
  }

  /**
   * Computes the text to display for the show all button.
   */
  get toggleText() {
    return this.showAll
      ? 'Show less'
      : `Show all ${this.totalErrorCount} errors`
  }

  hasMultipleErrors() {
    return this.totalErrorCount > 1
  }

  toggleShowAll() {
    this.showAll = !this.showAll
  }
}
</script>

<style lang="scss" scoped>
ul {
  overflow-y: auto;
  max-height: 30vh;
  list-style: inside disc;
}
</style>
