<template>
  <div>
    <h1>Welcome</h1>
  </div>
</template>

<script>
import Vue from 'vue'

import Component from 'vue-class-component'

@Component({
  head: {
    title: 'Dashboard',
  },
})
export default class IndexPage extends Vue {}
</script>
