<template>
  <div
    class="
      container
      min-h-screen
      mx-auto
      flex flex-col
      items-center
      justify-center
    "
  >
    <div class="mb-10">
      <Logo />
    </div>

    <form
      class="flex flex-col mt-5 space-y-3"
      novalidate
      @submit.prevent="logIn"
    >
      <UI-Input v-model="email" name="email" type="email" placeholder="email" />
      <UI-Input
        v-model="password"
        name="password"
        type="password"
        placeholder="password"
      />

      <UI-Button :loading="authenticating" type="submit"> log in </UI-Button>
    </form>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'

@Component({
  head: {
    title: 'Log In',
  },
  layout: 'login',
})
export default class LoginPage extends Vue {
  email = ''
  password = ''
  authenticating = false

  async logIn() {
    this.$toast.clear()

    if (!this.password || !this.email) {
      this.$toast.error('An email and password are required')
      return
    }

    try {
      this.authenticating = true

      await this.$store.dispatch('auth/login', {
        email: this.email,
        password: this.password,
      })
    } catch (e) {
      this.$error(e)
    } finally {
      this.authenticating = false
    }
  }
}
</script>
