<template functional>
  <div
    class="p-5 flex flex-col items-center"
    :class="{ 'border-2 border-em-green-500': props.border }"
  >
    <UI-Title
      class="pb-1"
      :class="{ 'border-b border-em-green-500': props.underline }"
      :size="props.titleSize"
    >
      emOffice
    </UI-Title>
    <UI-Subtitle v-if="props.subtitle" :size="props.subtitleSize">
      the portal to the cloud
    </UI-Subtitle>
  </div>
</template>

<script>
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class Logo extends Vue {
  @Prop({ type: Boolean, default: true }) subtitle
  @Prop({ type: Boolean, default: true }) underline
  @Prop({ type: Boolean, default: true }) border
  @Prop({ type: [Number, String], default: 4 }) titleSize
  @Prop({ type: [Number, String], default: 1 }) subtitleSize
}
</script>

<style lang="scss" scoped>
div {
  max-width: 250px;
}
</style>
