<template>
  <header
    class="
      px-5
      bg-em-gray-600
      flex flex-row
      justify-between
      items-center
      border-b border-em-green-500
    "
  >
    <Logo
      :title-size="2"
      :subtitle="false"
      :underline="false"
      :border="false"
    />

    <section class="p-2">
      <UI-Button title="Log out" @click="logout">
        <UI-Icon class="text-red-light" name="logout" />
      </UI-Button>
    </section>
  </header>
</template>

<script>
import Vue from 'vue'

import { Component } from 'vue-property-decorator'

@Component
export default class Navbar extends Vue {
  async logout() {
    try {
      await this.$store.dispatch('auth/logout')
    } catch (e) {
      this.$error(e)
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  height: 50px;
}
</style>
