<template>
  <aside
    :class="{ collapsed }"
    class="sidebar bg-em-gray-400 flex flex-col justify-between pt-5 min-h-full"
  >
    <section class="flex-1 flex flex-col">
      <ul>
        <li v-for="page of pages" :key="page.to">
          <Nuxt-Link
            class="nav-link p-2 min-w-full collapable-container"
            exact-active-class="active-link"
            :to="page.to"
          >
            <UI-Icon :name="page.icon" />
            <span v-show="!collapsed" class="text-label">{{ page.label }}</span>
          </Nuxt-Link>
        </li>
      </ul>
    </section>

    <footer class="border-t border-black">
      <UI-Button
        class="hover:bg-gray p-2 min-w-full collapable-container"
        @click="collapse"
      >
        <UI-Icon :name="collapseIcon" />
        <span v-show="!collapsed" class="text-label">Collapse</span>
      </UI-Button>
    </footer>
  </aside>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Sidebar extends Vue {
  pages = [
    {
      to: 'dashboard',
      label: 'Dashboard',
      icon: 'home',
    },
    {
      to: 'profile',
      label: 'Profile',
      icon: 'user',
    },
    {
      to: 'portfolio',
      label: 'Portfolio',
      icon: 'clipboard-list',
    },
    {
      to: 'blog',
      label: 'Blog',
      icon: 'annotation',
    },
    {
      to: 'files',
      label: 'Files',
      icon: 'folder',
    },
  ]

  collapsed = false

  get collapseIcon() {
    return this.collapsed ? 'chevron-double-right' : 'chevron-double-left'
  }

  collapse() {
    this.collapsed = !this.collapsed
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables/all';

.sidebar {
  width: 220px;
  transition: width 0.2s ease;

  .collapable-container {
    display: inline-block;
    white-space: nowrap;
  }

  .nav-link {
    transition: 0.1s linear;

    &:not(.active-link) {
      background: linear-gradient(
          to left,
          $backgroundColor-em-gray-400 50%,
          $backgroundColor-em-gray-500 50%
        )
        right;
      background-size: 200%;
    }

    &:hover {
      background-position: left;
    }
  }

  .text-label {
    @apply pl-2;

    display: inline-block;
  }

  .active-link {
    @apply border-r-2;
    @apply border-em-green-500;
    @apply bg-em-gray-600;
    @apply text-em-green-500;
  }

  &.collapsed {
    width: 43px;
  }
}
</style>
