<template>
  <main class="default-layout flex flex-col overflow-auto min-h-screen">
    <Navbar />

    <section class="flex flex-row flex-1">
      <Sidebar />
      <Nuxt />
    </section>
  </main>
</template>

<style lang="scss" scoped>
.default-layout {
  @apply bg-application;
}
</style>
