.layout-enter-active,
.layout-leave-active {
  transition: all 0.5s ease-in;
}

.layout-enter {
  margin-top: -100%;
}

.layout-enter-to {
  margin-top: 0;
}

.layout-leave {
  margin-top: 0;
}

.layout-leave-to {
  margin-top: 200%;
}
