/**
* Defines reusable CSS components using Tailwind.
*/

@layer components {
  .em-link {
    @apply cursor-pointer;

    color: $backgroundColor-gray-200;

    &:hover {
      @apply text-white;
    }
  }
}
