// import global SASS variables
@import './variables/tailwind.scss';
@import './vendors/tailwind.css';

/*
* Overflow is handled by the app main container.
* Also fixes scroll bars during animations.
*/
html,
body {
  @apply min-h-full;
  @apply bg-application;
  @apply text-white;

  overflow: hidden;
}

.page-container {
  @apply container;
  @apply mx-auto;
  @apply mt-5;
  @apply mb-5;
}

@import './components.scss';
@import './animations.scss';
